<ng-container *ngIf="infinite$ | async as people">


  <cdk-virtual-scroll-viewport (scrolledIndexChange)="nextBatch($event, (people[people.length - 1].name))"
                               itemSize="100">


    <li *cdkVirtualFor="let p of people; let i = index; trackBy: trackByIdx" class="animated lightSpeedIn">
      <h2>{{ i }}. {{ p.emoji }} {{ p.name }}</h2>
      <p> {{ p.bio }} </p>
    </li>


    <iframe *ngIf="theEnd" allowFullScreen class="giphy-embed" frameBorder="0"
            height="352" src="https://giphy.com/embed/lD76yTC5zxZPG" style="margin: 0 auto; display: flex"
            width="480"></iframe>

  </cdk-virtual-scroll-viewport>

</ng-container>
